.map-container {
    max-width: 100%;
    height: 400px;  /* Vous pouvez ajuster cette taille */
    border-radius: 8px;
    background-color: antiquewhite;
  }
  
  .map-description {
    margin-bottom: 20px;
  }
  
  .map-description ul {
    list-style-type: none;
    padding: 0;
  }
  
  .map-description li {
    font-size: 16px;
    margin: 5px 0;
  }
  